/*公共*/
#VerNav-con,#MainNav-logo,#Banner-con,#ClassNav,#HotSgoods,#QuRecom,#RotationImg,#Phone,#NoteCom,#QuaFlat,#SmWear,#SmHome,#AdvertMap,#HotSell,#BrandAcc,#SadvertMap,#footCon{
	width: 1202px;
	margin: 0 auto;
}
/*页面加载动画*/
#Loading{
	position: relative;
	left: 50%;
	margin-left: -960px;
}
#Loading-btn{
	position: absolute;
	right: 750px;
	top: 10px;
	display: block;
	width: 30px;
	height: 30px;
	border-radius:15px;
	background: rgba(0,0,0,0.2);
	color: white;
	font-size: 18px;
	border: none;
}
/*垂直导航*/
#VerNav{
	height: 36px;
	background: #f9f9f9;
}
#VerNav-con{
	height: 36px;
	
}
/*左侧导航*/
.VerNav-L{
	height: 36px;
	float: left;
	}
.VerNav-L ul{
	width: 535px;
	height: 36px;
	font-size: 12px;
	color: #8c8c8c;
	}
.VerNav-L ul li{
	float: left;
	
	}
.VerNav-L ul li:last-child{
	position: relative;
	}
.VerNav-L ul li:last-child a:hover{
	background: white;
}
.tNavL ul li:last-child a{
	background-image: none;
	}
.VerNav-L ul li a{
	display: block;
	height: 36px;
	line-height: 36px;
	padding:0px 7px;
	color: #8C8C8C;
	background: url(../images/bg.jpg) no-repeat right center;
	}
.VerNav-L ul i{
	font-size: 10px;
	}
.VerNav-L ul li a:hover{
	color: #cb2a31;
	}
.VerNav-L ul li .Spinner a{
	color: #8C8C8C;
	display: block;
	text-align: center;
	background: none;
	}
.VerNav-L ul li .Spinner a:hover{
	color: #cb2a31 ;
}
.VerNav-L ul li .Spinner {
	width: 118px;
	height: 146px;
	position: absolute;
	left: -40px;
	display: none;
	background: white;
	z-index: 21;
	}
/*右边导航*/
.VerNav-R{
	width: 460px;
	height: 36px;
	background: #f9f9f9;
	float: right;
}
.VerNav-R ul li{
	float: left;
	font-size: 12px;
	}
.VerNav-R ul li a{
	display: block;
	height: 36px;
	line-height: 36px;
	padding:0px 8px;
	color: #8C8C8C;
	background: url(../images/bg.jpg) no-repeat right center;
}
.VerNav-R ul li a:hover{
	color: #cb2a31;
}
/*  给第一个孩子去掉背景图*/
.VerNav-R ul li:first-child a{
	background-image: none;
	}
/*  给最后一个孩子去掉背景图*/
.VerNav-R ul li:last-child a{
	background-image: none;
	}
/*给购物车加样式*/
.VerNav-R span{
		position: relative;
}
.VerNav-R span a{
	text-align: center;
	width: 75px;
	float: right;
	color: #8C8C8C;
	font-size: 12px;
	display: block;
	height: 36px;
	line-height: 36px;
	background: #f2f2f2;
}
.VerNav-R span a:hover{
	color: #cb2a31;
	background: white;
}
/*购物车*/
.VerNav-R .shop{
	position: absolute;
	width: 460px;
	height: 230px;
	background: white;
	z-index: 22;
	top:36px;
	display: none;
	text-align: center;
}
.VerNav-R .shop span{
	margin: 20px 0px 0px 180px;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #f4f4f4;
	text-align: center;
	padding-top: 20px;
}
.VerNav-R .shop span i{
	font-size: 50px;
	margin-top: 47px;
}
.VerNav-R .shop b{
	font-size: 12px;
	color: #8C8C8C;
}
.VerNav-R .shop u{
	width: 150px;
	height: 40px;
	display: block;
	border: 1px solid #a4a4a4;
	line-height: 40px;
	font-size: 14px;
	margin: 20px 0px 0px 155px;
}
/*加下拉菜单*/
/*客户服务*/
.VerNav-R #CusTomer a:hover{
	background: white;
	
}
.VerNav-R #CusTomer{
	position: relative;
}
.VerNav-R #CusTomer .CusCenter{
	width: 80px;
	background: white;
	display: none;
	position: absolute;
	z-index: 1;
	
}
.VerNav-R #CusTomer .CusCenter a{
	color:#8C8C8C;
	background: none;
	text-align: center;
}
.VerNav-R #CusTomer i{
	font-size: 10px;
}
.VerNav-R #CusTomer .CusCenter a:hover{
	color: #cb2a31;
}
/*网站导航*/
#navigation{
	position: relative;
}
.VerNav-R #navigation .CusCenter1{
	background: white;
	width: 892px;
	height: 145px;
	position: absolute;
	left: -810px;
	display: none;
	z-index:21;
}
#navigation .CusCenter1  li{
	width: 156px;
	height: 145px;
	margin-left: 20px;
}
#navigation .CusCenter1 li:first-child{
	margin-left: 0px;
}
#navigation .CusCenter1 p{
	margin: 45px 0px 0px 50px;
	width: 50px;
	height: 50px;
	background:#f7f7f7;
	border-radius:50px;
}
#navigation i{
	font-size: 10px;
}
#navigation .CusCenter1 p i{
	font-size: 30px;
	line-height: 50px;
	margin-left: 10px;
	color: #8C8C8C;
}
#navigation .CusCenter1 li:first-child a{
	color: #8C8C8C;
	margin-left: 45px;
}
#navigation .CusCenter1 li:first-child a:hover{
	color: #cb2a31;
}
#navigation .CusCenter1 h3{
	font-size: 18px;
	line-height: 18px;
	margin: 10px 10px;
}

/*频道*/
#navigation .CusCenter1 li:nth-child(2) a{
	background: none;
	float: left;
}
/*产品*/
#navigation .CusCenter1 li:nth-child(3) a{
	background: none;
	float: left;
}
/*增值服务*/
#navigation .CusCenter1 li:nth-child(4) a{
	background: none;
	float: left;
}
/*会员*/
#navigation .CusCenter1 li:nth-child(5) a{
	background: none;
	float: left;
}
/*手机版的下拉菜单*/
#Ver-ph{
	position: relative;
}
#Ver-ph .Phcon {
	width: 245px;
	height: 425px;
	background:white;
	position: absolute;
	left: -175px;
	display: none;
	z-index: 21;
}
#Ver-ph .Phcon li{
	height: 140px;
	width: 245px;
	border-bottom: 1px solid #e5e5e5;
}
#Ver-ph .Phcon li .lr{
	width: 90px;
	height: 90px;
	margin: 20px 25px;
	float: left;
}
#Ver-ph .Phcon li .lr img{
	width: 90px;
	height: 90px;
}
#Ver-ph .Phcon li .ll{
	width: 100px;
	height: 90px;
	margin-top: 20px;
	float: left;
}
#Ver-ph .Phcon li .ll span{
	font-size: 14px;
	font-weight: bold;
}
#Ver-ph .Phcon li .ll em{
	font-size: 12px;
	color: #cc312b;
	line-height: 12px;
}
#Ver-ph i{
	font-size: 10px;
}
#Ver-ph .Phcon li .ll i{
	font-size: 16px;
	color: #797979;
}
#Ver-ph .Phcon li .ll b{
	font-size: 7px;
	color: #797979;
}
#Ver-ph .Phcon li .ll u{
	display: block;
	font-size: 12px;
	color:#777777 ;
	margin-bottom: 14px;
}
/*logs最右边的搜索框*/
#MainNav-logo #btn{
	display: block;
	width: 322px;
	height: 30px;
	background: #f0f0f0;
	border: none;
	float: right;
	border-radius:40px;
	margin-top: 25px;
	font-size: 8px;
	text-align: center;
	color: #8C8C8C;
}
#MainNav-logo i{
	position: absolute;
	top: 157px;
	right: 100px;
}

/*页面右下角的小固定导航*/
.FixedNav{
	width:38px ;
	height:125px;
	background: white;
	position: fixed;
	right: 10px;
	bottom: 40px;
	z-index: 22;
	
} 
.FixedNav p{
	width: 38px;
	height: 36px;
	margin-top: 5px;
	text-align: center;
} 
.FixedNav p i{
	font-size: 22px;
	
	line-height: 36px;
} 
.FixedNav p:nth-child(1) span{
	width: 76px;
	height: 36px;
	position: absolute;
	background:white;
	line-height: 36px;
	font-size: 10px;
	right: 40px;
	top: 5px;
	color: #8C8C8C;
	display: none;
} 
.FixedNav p:nth-child(2) span{
	display: none;
	width: 76px;
	height: 36px;
	position: absolute;
	background:white;
	line-height: 36px;
	font-size: 10px;
	right: 40px;
	top: 47px;
	color: #8C8C8C;
} 
.FixedNav p:nth-child(3) span{
	display: none;
	width: 76px;
	height: 36px;
	position: absolute;
	background:white;
	line-height: 36px;
	font-size: 10px;
	right: 40px;
	top: 87px;
	color: #8C8C8C;
} 
.FixedNav p a{
	color: #8C8C8C;
}
.FixedNav p a:hover{
	color: black;
}
.FixedNav p a:hover span{
	display: block
} 





/*logo和主导航*/
#MainNav{
	height: 75px;
}
#MainNav-logo{
	height: 75px;
}
#MainNav-logo h1{
	z-index: 10;
	display: block;
	width: 220px;
	height: 75px;
	float: left;
	padding:20px 0px 0px 8px ;
}
#MainNav-logo h1 img{
	width: 196px;
	height: 40px;
}
.oUl{
	width: 600px;
	height: 74px;
	float: left;
	margin-left: -20px;
}
.oUl li:nth-child(1) a{
	background: #ff8486;
	color: white;
	border-radius: 10px;
	
}
.oUl li:nth-child(1) a:hover{
	opacity: 0.8;
	color: white;
}
.oUl li:nth-child(2) a:hover{
	opacity: 0.8;
	color: white;
}
.oUl li:nth-child(2) a{
	background: #74c7ff;
	color: white;
	border-radius: 10px;
	
}
.oUl li{
	float: left;
	margin-left: 28px;
	height: 74px;
	line-height: 74px;
}
.oUl li a{
	font-size: 16px;
	color: black;
}
.oUl li a:hover{
	color: #cb2a31;;
}
/*logs最右边的搜索框*/
#MainNav-logo #btn{
	display: block;
	width: 322px;
	height: 30px;
	background: #f0f0f0;
	border: none;
	float: right;
	border-radius:40px;
	margin-top: 25px;
	font-size: 8px;
	text-align: center;
	color: #8C8C8C;
}
#MainNav-logo i{
	position: absolute;
	top: 157px;
	right: 100px;
}

/*页面右下角的小固定导航*/
.FixedNav{
	width:38px ;
	height:125px;
	background: white;
	position: fixed;
	right: 10px;
	bottom: 40px;
	z-index: 22;
	
} 
.FixedNav p{
	width: 38px;
	height: 36px;
	margin-top: 5px;
	text-align: center;
} 
.FixedNav p i{
	font-size: 22px;
	
	line-height: 36px;
} 
.FixedNav p:nth-child(1) span{
	width: 76px;
	height: 36px;
	position: absolute;
	background:white;
	line-height: 36px;
	font-size: 10px;
	right: 40px;
	top: 5px;
	color: #8C8C8C;
	display: none;
} 
.FixedNav p:nth-child(2) span{
	display: none;
	width: 76px;
	height: 36px;
	position: absolute;
	background:white;
	line-height: 36px;
	font-size: 10px;
	right: 40px;
	top: 47px;
	color: #8C8C8C;
} 
.FixedNav p:nth-child(3) span{
	display: none;
	width: 76px;
	height: 36px;
	position: absolute;
	background:white;
	line-height: 36px;
	font-size: 10px;
	right: 40px;
	top: 87px;
	color: #8C8C8C;
} 
.FixedNav p a{
	color: #8C8C8C;
}
.FixedNav p a:hover{
	color: black;
}
.FixedNav p a:hover span{
	display: block
} 



/*banner*/
#Banner{
	height: 500px;
}
#Banner-con{
	height: 500px;
	position: relative;
}
.Bul li img{
	height: 500px;
}
.Bul li{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}

.Bol{
	position: absolute;
    bottom:20px;
    width: 250px;
    right: 0;
    z-index: 11;
}
.Bol li{
	float: left;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    cursor: default;
}
.Bol li.current{
    background: white;
}


/*水平导航*/
#LatNav{
	width: 200px;
	height: 440px;
	position: absolute;
	background: #fef2f5;
	top: 20px;
	border-radius: 10px;
	z-index: 11;
}
.Lol{
	width: 200px;
	height: 74px;
	
}
.Lol li:hover a{
	color: black;
}
.Lol li:hover{
	background: white;
	border-radius: 10px;
}
.Lol li a:hover{
	color:#cb2a31 ;
}
.Lol li {
	width: 200px;
	height: 74px;
	border-bottom:  1px solid #efe4e6;
	padding-left: 25px;
	padding-top: 15px;
}
.Lol li h2 a{
	font-size:16px;
	color:#8484a0;
	
}
.Lol li a{
	font-size: 12px;
	color: #a6a6b7;
	margin-left: 10px;
}
.Lol li:last-child{
	border: none;
}
.Lul div{
	position: absolute;
	height: 440px;
	background: white;
	left: 200px;
	top: 0;
	border-radius: 10px;
	display: none;
}
.p1{
	width: 612px;
}
.p2{
	width: 214px;
	
}
.p3{
	width: 816px;
}

.p1 ul{
	width: 410px;
	height: 440px;
	float: left;
	margin-left: 28px;
}
.p1-1 li{
	width: 204px;
	height: 80px;
	margin-top: 24px;
	float: left;
	border-radius: 10px;
}
.p1-1 li:hover{
	background: #f6f6f6;
	border-radius: 10px;
}
.p1-1 li img{
	float: left;
	margin-left: 10px;
}
.p1-1 li p{
	float: left;
	line-height: 80px;
	font-size: 12px;
	color: #777777;
	margin-left: 8px;
}
.p1 button{
	display: block;
	width: 135px;
	height: 44px;
	border: 1px solid #f2f2f2;
	border-radius: 30px;
	font-size: 12px;
	color: #a7a7a7;
	float: left;
	background: none;
	margin-top: 30px;
	margin-left: 18px;
}
.p2 ul{
	float: left;
}
.p2-1 li{
	width: 204px;
	height: 80px;
	margin-top: 24px;
	float: left;
	border-radius: 10px;
	margin-left: 10px;
}
.p2-1 li:hover{
	background: #f6f6f6;
	border-radius: 10px;
}
.p2-1 li img{
	float: left;
	margin-left: 10px;
}
.p2-1 li p{
	float: left;
	line-height: 80px;
	font-size: 12px;
	color: #777777;
	margin-left: 8px;
}
.p2 button{
	display: block;
	width: 135px;
	height: 44px;
	border: 1px solid #f2f2f2;
	border-radius: 30px;
	font-size: 12px;
	color: #a7a7a7;
	float: left;
	background: none;
	margin-top: 45px;
	margin-left: 30px;
}

.p3 ul{
	width:816px ;
	height: 440px;
	float: left;
}
.p3-1 li{
	width: 202px;
	height: 80px;
	margin-top: 24px;
	float: left;
	border-radius: 10px;
}
.p3-1 li:hover{
	background: #f6f6f6;
	border-radius: 10px;
}
.p3-1 li img{
	float: left;
	margin-left: 10px;
}
.p3-1 li p{
	float: left;
	line-height: 80px;
	font-size: 12px;
	color: #777777;
	margin-left: 8px;
}
.p3-1 button{
	display: block;
	width: 135px;
	height: 44px;
	border: 1px solid #f2f2f2;
	border-radius: 30px;
	font-size: 12px;
	color: #a7a7a7;
	float: left;
	background: none;
	margin-top: 40px;
	margin-left: 10px;
}
/*分类的导航*/
#ClassNav{
	height: 200px;
}
#ClassNav li{
	width: 290px;
	height: 200px;
	float: left;
	margin-left: 14px;
}
#ClassNav li:first-child{
	margin-left: 0;
}
/*热销单品*/
#HotSgoods{
	height: 633px;
	margin-top: 40px;
}
#HotSgoods h2{
	font-size: 24px;
	line-height: 24px;
}
#HotBox{
	height: 592px;
	margin-top: 18px;
}
.HotboxL{
	width: 230px;
	height: 592px;
	float: left;
}
.HotboxR{
	float: left;
	width: 972px;
	height: 592px;
	float: left;
}
.HotboxR li{
	width: 230px;
	height: 290px;
	background: #f9f9f9;
	margin-left: 10px;
	float: left;
	text-align: center;
	border-radius: 10px;
	margin-top: 5px;
	
}
.HotboxR li:hover{
	box-shadow: 0px 2px 7px 6px #aaaaaa;
	background: white;
}
.HotboxR li img{
	width: 150px;
	height: 150px;
	margin: 35px 0px 0px 40px;
	
}
.HotboxR li h3{
	font-size: 14px;
	margin-top: 16px;
}
.HotboxR li h4{
	font-size: 12px;
	color: #838383;
}
.HotboxR li p{
	font-size: 14px;
	color: #d7021b;
}
/*精品推荐*/
#QuRecom{
	height: 364px;
	margin-top: 40px;
	overflow: hidden;
}

#QuRecom h2{
	font-size: 24px;
	line-height: 54px;
	display: block;
	height: 53px;
	
}
.QuList{
	height: 295px;
	margin-top: 12px;
	width: 2500px;
}
.QuList li:first-child{
	margin-left: 0px;
}
.QuList li{
	width: 241px;
	height: 295px;
	margin-left: 10px;
	text-align: center;
	float: left;
}
.QuList li p{
	width: 242px;
	height: 230px;
	border-radius: 10px;
	padding: 20px 0px 0px 50px;
	text-align: center;
}
.QuList li p img{
	width: 150px;
	height: 150px;

}
.QuList li p a{
	display: block;
	width: 242px;
	height: 36px;
	background: #f3f3f3;
	margin:23px 0px 0px -50px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	line-height: 36px;
	font-size: 14px;
	color: #777;
}
.QuList li h3{
	font-size: 14px;
	line-height: 24px;
	margin-top: 12px;
}
.QuList li h4{
	font-size: 14px;
	color: #d0021b;
}

#Qleft,#Qright{
	position: absolute;
	width: 38px;
	height: 72px;
	background: #f0f0f0;
	font-size: 20px;
	text-align: center;
	line-height: 75px;
	top: 1760px;
	
}
#Qleft i,#Qright i{
	font-size: 20px;
}
#Qleft {
	left:75px;
	border-top-right-radius:10px ;
	border-bottom-right-radius:10px ;
}
#Qright{
	right:73px;
	border-top-left-radius:10px ;
	border-bottom-left-radius:10px ;
}
/*轮播图*/
#RotationImg{
	height: 120px;
	margin-top: 36px;
	position: relative;
}
#RotationImg ul li{
	position: absolute;
}
#RotationImg ol{
	position: absolute;
	z-index: 10;
	bottom: 0;
	right: 45px;
}
#RotationImg ol li{
	float: left;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    cursor: default;
  
}
#RotationImg ol li.current{
        background: white;
}
/*手机*/
#Phone{
	height: 938px;
	background: pink;
	margin-top: 42px;
}
.PhoTop{
	height: 30px;
	background: greenyellow;
	line-height: 30px;
}
.PhoTop h2{
	font-size: 24px;
	float: left;
}
.PhoTop ul{
	width: 915px;
	height: 30px;
	float: left;
}
.PhoTop ul li{
	font-size: 12px;
	float: left;
	margin-left: 25px;
}
.PhoTop ul li a{
	color: #9999b2;
}
.PhoTop ul li a:hover{
	color: #cb242b;
}
.PhoTop p{
	float: right;
	
}
.PhoTop p a{
	font-size: 12px;
	color: black;
	margin-right: 12px;
}

/*笔记本电脑*/
#NoteCom{
	height: 635px;
	background: deepskyblue;
}
/*精品平板*/
#QuaFlat{
	height: 635px;
	background: pink;
}
/*智能穿戴*/
#SmWear{
	height: 900px;
	background: deepskyblue;
}
/*智能家居*/
#SmHome{
	height: 905px;
	background: pink;
}
/*广告图*/
#AdvertMap{
	height: 120px;
	background: deepskyblue;
}
/*热销配件*/
#HotSell{
	height: 900px;
	background: pink;
}
/*品牌配件*/
#BrandAcc{
	height: 900px;
	background: deepskyblue;
}
/*广告图*/
#SadvertMap{
	height: 200px;
	background: pink;
}
/*footer*/
#Foot{
	height: 400px;
	background: deepskyblue;
}
